<div class="header">
    <div class="menu">
        <ul>
            <li>
                <a href="/">TRANG CHỦ</a>
            </li>
            <li>
                <a href="/index">LUẬT CHƠI</a>
            </li>
            <li>
                <a href="/match">DS TRẬN ĐẤU</a>
            </li>
            <li>
                <a href="/logout">ĐĂNG NHẬP</a>
            </li>
        </ul>
    </div>
</div>