<div class="right">

    <div class="login">
        <form action="/login" method="POST">
            <table width="100%">
                <tr>
                    <td colspan="2" style="text-align: center;">
                        ĐĂNG NHẬP
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="color: white;">Tài khoản</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" style="padding-left: 10px" name="username" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="color: white;">Mật khẩu</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="password" style="padding-left: 10px" name="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="ĐĂNG NHẬP">
                    </td>
                    <td>
                        <a href="/signup">
                            <input type="button" value="ĐĂNG KÍ">
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>