<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>AI GAME 2018</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div class="wrap">

		<header>
			<img src="/img/word.png" class="word" alt="IT Festival" />
			<img src="/img/logo1.png" class="logo" alt="IT Festival" />
			<div style="clear: both;"></div>
		</header>

		<% include ../layout/menu.ejs%>

			<div class="content main">
				<% include ./layout/left.ejs%>
				<% include ./layout/right.ejs%>
				<div style="clear:both"></div>
			</div>

			<footer>
				Copyright &copy; 2018 by
				<a href="">HIT</a>
			</footer>
	</div>
</body>

</html>