<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AI game 2018</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <img src="/img/word.png" class="word" alt="IT Festival" />
            <img src="/img/logo1.png" class="logo" alt="IT Festival" />
            <div style="clear: both;"></div>
        </header>

        <%- include ../layout/menu %>

            <div class="content main">
                <div class="left">

                </div>
                <div class="right">

                    <div class="login">
                        <form action="">
                            <table width="100%">
                                <tr>
                                    <td colspan="2" style="text-align: center;">LOGIN OR REGISTER</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color: white;">username</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" placeholder="admin">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color: white;">password</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="password" placeholder="mật khẩu">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="checkbox" name="remember">
                                        <label for="remember">remember</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" value="LOG IN">
                                    </td>
                                    <td>
                                        <input type="submit" value="REGISTER">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>

            <footer>
                Copyright &copy; 2018 by HIT
            </footer>
    </div>
</body>

</html>