<div class="header">
    <div class="menu">
        <ul>
            <li>
                <a href="/">TRANG CHỦ</a>
            </li>
            <li>
                <a href="/regulation">LUẬT CHƠI</a>
            </li>
            <li>
                <a href="/player">BẢNG XẾP HẠNG</a>
            </li>
            <li>
                <a href="/match">DS TRẬN ĐẤU</a>
            </li>
            <li>
                <a href="/user/bot">QL BOT</a>
            </li>
            <li>
                <a href="/logout">
                    <% if (user != '') {%>
                        ĐĂNG XUẤT
                        <%} else {%>
                            ĐĂNG NHẬP
                            <%}%>
                </a>
            </li>
        </ul>
    </div>
</div>